Repository monarch-initiative/omim, pull requests merged in 2024-11, with the labels that each got.

#162 add section to list removed digenic diseases
  analyses/morbidmap-data-analysis/Analyze_morbidmap - v2.ipynb
Labels: analysis

#158 Bug fix: Disease-gene associations
  .github/workflows/buid_and_release.yml
  README.md
  makefile
  omim2obo/config.py
  omim2obo/main.py
  omim2obo/parsers/omim_txt_parser.py
  sparql/disease-gene-relationships.sparql
Labels: documentation

#172 Update morbidmap analysis notebook
  analyses/morbidmap-data-analysis/Analyze_morbidmap - v3.ipynb
Labels: enhancement, analysis

#168 "Alternative symbol" synonyms & "Formerly" - props rename
  omim2obo/main.py
Labels: bug
