Repository monarch-initiative/omim, pull requests merged in 2025-04, with the labels that each got.

#209 GitHub action updates
  .github/workflows/build_and_release.yml
Labels: automation / CI, data quality

#204 Protect gene associations to immunoglobin gene/regions
  data/protected-disease-gene.tsv
  omim2obo/main.py
  omim2obo/utils/utils.py
Labels: data quality

#214 Cache bugfixes
  data/cache-last-updated.txt
  data/mappings.tsv
  data/pubmed-refs.tsv
  omim2obo/parsers/omim_txt_parser.py
Labels: bug, data quality

#216 Cache date update
  omim2obo/parsers/omim_txt_parser.py
Labels: data quality
